# Webex Bot
BOT_TOKEN=
APPROVED_DOMAIN=webexone-ai-assistant.wbx.ai

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-nano

# Webex Personal Access Tokens (for MCP)
WEBEX_MESSAGING_MCP_URL=https://mcp.webexapis.com/mcp/webex-messaging
WEBEX_MESSAGING_MCP_TOKEN=
WEBEX_MEETING_MCP_URL=https://mcp.webexapis.com/mcp/webex-meeting
WEBEX_MEETING_MCP_TOKEN=

# Webex Service App
CLIENT_ID=
CLIENT_SECRET=
ACCESS_TOKEN=
REFRESH_TOKEN=
