# Webex Bot
BOT_TOKEN=
ALLOWED_DOMAINS=webexone-ai-assistant.wbx.ai
ALLOWED_ADMINS=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-nano

# Webex Personal Access Tokens
WEBEX_MESSAGING_MCP_TOKEN=
WEBEX_MEETING_MCP_TOKEN=

# Webex Service App
CLIENT_ID=
CLIENT_SECRET=
ACCESS_TOKEN=
REFRESH_TOKEN=

# Webex Contact Center
WEBEX_ORG_ID=74983fd5-5c18-45cb-bfcd-507005e05b0f
WXCC_CONFIG_API_BASE=https://api.wxcc-us1.cisco.com
